body {
  background-color: #6ED897
}
h1{
  text-align: center;
  color: #048A81;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D3BDA6;
}

li {
  float: center;
}

li a {
  display: block;
  color: #35605A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #B07C9E;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
